@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-9">
                    <div id="cboItemCategory">

                    </div>
                </div>
                <div class="col-md-3" id="manageShop">
                    <button onclick="btnShopNow()" class="btn btn-info" id="post">Shop Now</button>
                </div>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>

</div>
<div id="divSeparator"></div>

<script type="text/javascript">
    var cboItemCategory;

    function btnShopNow() {
        window.location = "/SmartShop/ShopList?itemCategoryId=" + cboItemCategory.selectedItem["Id"] + "&label=" + cboItemCategory.selectedItem["ItemCategory"];

    }


    function getCategory() {
        var itemCategory = new wijmo.collections.ObservableArray;
        $.ajax({
            type: "GET",
            url: '/api/list/sysitemcategory',
            contentType: "application/json;charset=utf-8",
            success: function (itemCategoryList) {
                for (i = 0; i < itemCategoryList.length; i++) {
                    itemCategory.push({
                        Id: itemCategoryList[i]["Id"],
                        ItemCategory: itemCategoryList[i]["ItemCategory"],
                    });
                    console.log(itemCategoryList[i]["Id"]);
                }
                cboItemCategory.dispose();
                cboItemCategory = new wijmo.input.ComboBox("#cboItemCategory", {
                    itemsSource: itemCategory,
                    selectedValuePath: "ItemCategory",
                    displayMemberPath: "ItemCategory"
                });

            }
        });
    }

    window.onload = function () {
        cboItemCategory = new wijmo.input.ComboBox("#cboItemCategory");
        getCategory();
    }
</script>
