@using Microsoft.AspNet.Identity;
    @{
        ViewBag.Title = "Inquirers";
    }

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="~/img/defaultimg.png" class="img-responsive" />
                        <br />
                        <h4>@User.Identity.GetUserName()</h4>
                        <div class="panel-footer">
                            <ul class="nav navbar-left">
                                <li><a href="~/Manage/Index">My Item</a></li>
                                <li><a href="~/SmartShop/PostList">My Post</a></li>
                                <li><hr /></li>
                                <li><a href="~/SmartShop/Index">Shop(Buy)</a></li>
                                <li><a href="~/SmartShop/Post">Post(Sell)</a></li>
                                <li><hr /></li>
                                <li><a href="~/SmartShop/Messaging">Messaging</a></li>
                                <li><hr /></li>
                                <li><a href="~/SmartShop/Inquirer">Inquirers</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Inquirer <small> / Inquirer Pending Item</small></h3>
                    </div>
                    <div class="panel-body">
                        <div id="inquirerList"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        var getInquirerDetailCollection;
        var inquirerDetailGridList;
        var inquire;

        function getInquirer() {
            inquire = new wijmo.collections.ObservableArray;
            $.ajax({
                type: "GET",
                url: '/api/list/buy',
                contentType: "application/json;charset=utf-8",
                success: function (inquireDetail) {
                    for (i = 0; i < inquireDetail.length; i++) {
                        //var imageElement = document.createElement("images");
                        //var imageData = new Image();
                        //imageData.src = "data:image/jpeg;base64," + postDetailList[i]["PhotoValue"];
                        //imageElement.appendChild(imageData);
                        //var photoDivElement = document.createElement("DIV").appendChild(imageElement);
                        //var imageSRCData = "data:image/jpeg;base64," + postDetailList[i]["PhotoValue"];

                        inquire.push({
                            Id: inquireDetail[i]["Id"],
                            SenderUserId: inquireDetail["SenderUserId"],
                            RecipientUserId: inquireDetail[i]["RecipientUserId"],
                            Message: inquireDetail[i]["Message"],
                            Quantity: inquireDetail[i]["Quantity"],
                            PartialAmount: inquireDetail[i]["PartialAmount"],
                        });
                    }
                }
            });
            return inquire;
        }


        function createFlexGrid() {
            getInquirerDetailCollection = new wijmo.collections.CollectionView(getInquirer());

            //Flex Grid
            inquirerDetailGridList = new wijmo.grid.FlexGrid("#inquirerList");
            inquirerDetailGridList.initialize({
                columns: [
                    
                    {

                        "header": "Sender",
                        "binding": "SenderUserId",
                        "allowSorting": true,
                        "width": "2*",
                        "allowResizing": true,
                        "allowSorting": false,
                        "isContentHtml": true
                    },
                    {
                        "header": "Receiver",
                        "binding": "RecipientUserId",
                        "allowSorting": true,
                        "width": "2*",
                        "allowResizing": true,
                        "allowSorting": false,
                        "isContentHtml": true
                    },
                    {

                        "header": "Message",
                        "binding": "Message",
                        "allowSorting": true,
                        "width": "2*",
                        "allowResizing": true,
                        "allowSorting": false,
                        "isContentHtml": true
                    },
                    {

                        "header": "Quantity",
                        "binding": "Quantity",
                        "allowSorting": true,
                        "width": "2*",
                        "allowResizing": true,
                        "allowSorting": false,
                        "isContentHtml": true
                    },
                    {
                        "header": "Partial Payment",
                        "binding": "PartialAmount",
                        "allowSorting": true,
                        "width": "2*",
                        "allowResizing": true,
                        "allowSorting": false,
                        "isContentHtml": true
                    },
                   
                ],
                autoGenerateColumns: false,
                itemsSource: getInquirerDetailCollection,
                isReadOnly: true,
                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                allowDragging: wijmo.grid.AllowDragging.None,
                selectionMode: wijmo.grid.SelectionMode.Row,
                headersVisibility: wijmo.grid.HeadersVisibility.Column
            });
            inquirerDetailGridList.trackChanges = true;
            //postDetailGridList.rows.defaultSize = 150;
        }

        window.onload = function () {
            createFlexGrid();
        }
    </script>
