@{
    ViewBag.Title = "SmartShop";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Smart Shop</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" id="indexItem">
                    <div class="panel-heading">
                        <div class="row">
                            <h4>Map</h4>
                        </div>
                        <br />
                    </div>
                    <div class="panel-body">
                        <div>
                            <iframe id="map" style="width:100%; height:100%;"></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBa6CXlQO_RAFHUUzUf1UQ6kNXOnEy-S7c&callback=initMap"
             type="text/javascript"></script>

    <script type="text/javascript">
        function initMap() {
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                scrollwheel: false,
                zoom: 8
            });
        }

        window.onload = function () {
            initMap();

        }

    </script>
</body>

</html>
