
@{
    ViewBag.Title = "Messaging";
}
<div id="divSeparator"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>User Container</h4>
            <div id="userContainer"></div>
        </div>
        <div class="col-md-push-1 col-md-5">
            <h4>Message Container</h4>
            <div id="messageContainer"></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    ads head
                </div>
                <div class="panel-body">
                    ads bdy
                </div>
            </div>
        </div>
    </div>
</div>

