body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url('../img/cover.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width:auto;
}
.fa fa-search {
    width:auto;
    height:auto;
    padding:5px 5px 5px 5px;
}

.btn {
    border-radius:0px;
}

#divImage {
    height:100%;
}


#profileManage {
    height:60px;
    width:90px;
    padding:10px;
}

#postManage {
    height:60px;
    width:90px;
    padding:10px;
}

.jumbotron {
    border-radius:0px;
}

a {
  
    color:white;
}

#navbarUL>li{
    width:100%; 
    max-height:100px;

}
    #navbarUL > li > a {
        color:gray;
    }



#homePanel{
    margin:0;
    display:none;
}

#contactInfo {
    height:100%;
    width:100%;
    color:white;
    font:bold;
    text-align:justify;
    background-color:transparent;
}

#cboItemCategory {
    width:100%;
    margin-top:200px;
}

#cboItemCategories {
    width:100%;
}

.nav {
    margin:0;
}

#manageShop {
     margin-top:200px;
}
#post {
}

#manageAccount {
    margin-top:100px;
}

#changePassword {
    margin-top:100px;
}

#manageLogin {
    margin-top:100px;
}

#manageRegister {
    margin-top:100px;
}

#itemDetailGrid {
    width:100%;
    max-height:100%;
}

#divSeparator {
    margin-top:20px;
}

#footerDetail {
    margin-top:50px;
}


.footer {
    height:50%;
    color:white;
    position:absolute;
    width:100%;
    background-color:rgba(0,0,0,0.1);
    margin:0;
}

#footer{
    text-align:center;
}

.btn-lg {
    padding:10px;
    width:100%;
    border-radius:0px;
}