body {
    padding-top: 50px;
    background-color:#e9ebee;
    background-size:cover;
    /*background-image: url('../img/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;*/
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    color:white;
    max-width: auto;
}

.fa fa-search {
    width: auto;
    height: auto;
    padding: 5px 5px 5px 5px;
}
.nav-pills {
    width:100%;
    font-size:15px;
    
}
    .nav-pills,li,small,a{
        color:black;
        text-decoration:none;
    }
    .nav-pills , li ,small,a:hover{
        width:auto;
        color:darkturquoise;
    }

.navbar-left {
    width: 100%;
    margin: 0;
}

    .navbar-left > li {
        width: 100%;
    }

hr {
    border: 2px dotted lightgrey;
    width: 100%;
    margin: auto;
}




.panel-default {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

#divImage {
    height: 100%;
}


#profileManage {
    height: 60px;
    width: 90px;
    padding: 10px;
}

#postManage {
    height: 60px;
    width: 90px;
    padding: 10px;
}

.jumbotron {
    border-radius: 0px;
}

/*a {
    color: black;
}*/

#headerNav {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar-fixed-top {
    bottom: auto;
    height: auto;
    background-color:#0d1e2b;
}

.navbar-brand {
    color: darkgray;
    font-size:x-large;
    font-weight:bolder;
}

    .navbar-brand:hover {
        color: darkturquoise;
    }



#header {
    color: white;
    height: auto;
}

#headerNav > li > a {
    font-size: inherit;
    color: whitesmoke;
}

    #headerNav > li > a:hover {
        background-color:white;
        color: darkturquoise;
        font-size:15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #headerNav > li > a:current {
        background-color: blue;
    }



#navbarUL > li {
    width: 100%;
    max-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

    #navbarUL > li > a {
        color: gray;
    }

#searchBox{
    width: 40%;
    box-sizing: content-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: whitesmoke;
    background-image: url('/img/searchicon.png');
    background-size:25px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition:width 0.4s ease-in-out;
}

#searchBox:focus {
    width: 100%;
    background-color:transparent;
}

#filterSearch{
    height:1px;
    width: 130px;
    box-sizing: content-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: whitesmoke;
    background-image: url('/img/searchicon.png');
    background-size:25px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 20px 20px 20px 40px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

#filterSearch:focus {
    width: 80%;
}


.icon-bar {
    background-color:white;
}

#homePanel {
    margin: 0;
    display: none;
}

#contactInfo {
    height: 100%;
    width: 100%;
    color: white;
    font: bold;
    text-align: justify;
    background-color: transparent;
}

#cboItemCategory {
    width: 100%;
    margin-top: 200px;
}

#cboItemCategories {
    width: 100%;
}

.nav {
    margin: 0;
}

#manageShop {
    margin-top: 200px;
}

#post {
}

/*CAROUSEL*/
  .carousel-inner , .item ,#imgC{
      width: 100%;
      height: 520px;
      margin:auto;
      border-radius:0px;
      border:0px;
  }


  #carouselContainer{
      padding:0px 0px 20px 30px;
      border-radius:0px;
      width:100%;
      height:530px;
      margin:0;
      top:0;
      left:0;
      right:0;
      bottom:0;
  }

#a {
    border-radius:0px;
}

#addProfile {
    margin-top: 50px;
}
#changePassword {
    margin-top: 50px;
}

#manageLogin {
    margin-top:20px;
}

#indexItem {
    width:100%;
    height:500px;
}

#indexMostV {
    width:100%;
    height:250px;
    
}

#indexDiscounted {
    width:100%;
    height:250px;

}

#manageRegister {
    margin-top: 20px;
}

#itemDetailGrid {
    width: 100%;
    height: 500px;
    overflow:auto;
}

#divSeparator {
    margin-top: 20px;
}

#footerDetail {
    top:0;
    bottom:0;
    left:0;
    right:0;
}


.footer {
    background-color:rgba(0,0,0,0);
    position:inherit;
    margin-top: 18%;
    top: 0;
    bottom: 0;
    width: 100%;
    height:25%;
    left:0;
    right:0;
}

#footer,li,a{
    text-align: center;
    color: black;
   
}

i:hover {
    color: green;
}


#backtoProfile{
    width:auto;
    border-radius:0px;
    height:150px;
}
    #backtoProfile:hover {
        background-color:transparent;
        color:darkcyan;
        }
#profile{
    font-size:30px;
    margin-top:50px;
    padding:0% 10% 10% 10%;
}

.btn-primary{
    width:auto;
}

.btn-success {
    width:auto;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     padding:5px;
     text-align:center;
     z-index: 1000;
}

#overlay div {
     width:40%;
     margin: 100px auto;
     background-color: whitesmoke;
     border:2px solid #000;
     box-shadow:1px 2px 1px 2px dimgray;
     text-align:center;
}

.btn-lg {
    padding: 10px;
    width: 100%;
    border-radius: 0px;
}

#inquirerList {
    width:100%;
    height:500px;
    overflow:auto;
}

#containerForUser {
    max-height:50%;
}

#userContainer {
   
    width: 100%;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 15px;
    text-align: left;
}

#userContainer,.tr,.td {
    padding: 10px;
    left:0;
    width:100%;
    height:30px;
}




/*#userContainer,td {
    padding:10px;
    width:100%;
    background-color:#333;   
}

    #userContainer,td:hover {
        border-bottom:3px solid white;
        background-color:transparent;
    }*/

.userClassDefault {
    width: 100%;
    background-color: rgba(0,0,0,0);
    font-size: 15px;
    text-align: left;
}

    .userClassDefault:hover {
        background-color:transparent;
    }

.messaggeLink {
    text-align: center;
    font-size: 15px;
    color:dimgray;
}

    .messaggeLink:hover {
        text-decoration: none;
        color: cyan;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


.useractive{
    text-align:center;
    font-size: 15px;
    font-size: 12px;
    background-color: #0d1e2b;
    background-image:url('/img/img/point1.png');
    background-size:20px;
    background-repeat:no-repeat;
    background-position:10px;
    
}

    .useractive:before {
        padding:10px;
        height:15px;
        width:20px;
    }

#colMessage {
    height: 300px;
    overflow:auto;
}


#messageContainer {
    height:250px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: white;
}


.left {
    background-color: white;
    color: black;
    font-size: 17px;
    padding: 20px;
    border-radius: 5px;
}

.right{
    background-color: skyblue;
    color: black;
    font-size: 17px;
    padding: 0px;
    border-radius: 5px;
}

.panel-default {
    box-shadow: 2px 2px 2px 2px gray;
}
